!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Ordervore
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container-fluid
      .row
        .col-sm-6.col-sm-offset-3
          %h1
            Ordervore
          - if current_user
            = link_to 'Home', root_path
            = ' | '
            = link_to 'My Orders', user_path(id: current_user.id)
            = ' | '
            = link_to 'My Profile', edit_user_registration_path(id: current_user.id)
            = ' | '
            = link_to 'Sign Out', destroy_user_session_path, { method: :delete }
          - else
            = link_to('Sign In / Up', new_user_session_path, class: 'btn btn-lg btn-primary')
      .row
        .col-sm-6.col-sm-offset-3
          %br
          %br  
          = yield
